<div class="container body-content">

    
    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
                <span>
                    <input type="radio" name="searchType" id="@column.Key" value="@column.Key" @(column.Key == ViewBag.searchType ? "checked" : "unchecked")/>

                    <label for="@column.Key">@column.Value</label>
                </span>
            }
            
        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <h3>@ViewBag.title</h3>
    <table class="job-listing">

        @foreach (var job in ViewBag.jobs)
        {
            <tr>
                <td>
                    <pre>@job.ToString()</pre>
                </td>
            </tr>

        }
    </table>

</div>
